/* [data-scope='FileUpload'][data-part='item'] {
	background: red
  } */

[data-scope='file-upload'][data-part='root'] {
	--color-bg: #f8f8f8;
	--color-theme: #ff3333;
	--color-white: #fff;

	--color-button-fx: transparent;

	display: flex;
	height: 50vh;
	width: 100%;

	[data-part='dropzone'] {
		align-items: center;
		background: var(--color-bg);
		display: flex;
		justify-content: center;
		height: 100%;
		width: 100%;
	}

	[data-part='trigger'] {
		background-color: var(--color-theme);
		background-image: linear-gradient(
			to bottom,
			var(--color-button-fx) 0%,
			var(--color-button-fx) 1.8rem,
			#0004 1.8rem
		);
		border: none;
		color: var(--color-white);
		border-radius: 0.2rem;
		height: 2rem;

		transition: background-image 0.2s, transform 0.2s ease-in-out;
		user-select: none;
	}

	[data-part='trigger']:hover {
		--color-button-fx: #fff2;
		cursor: pointer;
	}

	[data-part='trigger']:focus {
		--color-button-fx: #0004;
		cursor: pointer;
		outline: none;
		transform: scale(1, 0.9) translate(0, 0.2rem);
	}
}
img {
	max-width: 15rem;
}
