* {
	box-sizing: border-box;
}

html,
body,
#root,
main {
	--color-bg: #f8f8f8;
	--color-theme: #f33;
	--color-white: #fff;

	--color-button-fx: transparent;

	--header-height: 2.5rem;

	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0;
	width: 100%;
}

main > * {
	float: left;
}

main[data-settings-menu='true'] {
	--width-settings-menu: 30rem;
}
main[data-settings-menu='false'] {
	--width-settings-menu: 0rem;
}

main[data-settings-menu='false'] aside {
	display: none;
	opacity: 0;
}

header {
	background: var(--color-theme);
	box-shadow: 0 0.1rem 0.1rem #999;
	color: var(--color-white);
	grid-area: 1 / 1 / 2 / 3;
	height: var(--header-height);
	padding: 0 0.25rem;
	width: 100%;
	z-index: 1;

	h1 {
		font-size: 1.75rem;
		margin-block-start: 0;
		margin-block-end: 0;
		user-select: none;
	}

	h1:hover {
		cursor: pointer;
	}
}
aside {
	background: #eee;
	display: flex;
	flex-direction: column;
	height: calc(100% - 2.5rem);
	gap: 0.5rem;
	grid-area: 2 / 1 / 3 / 2;
	padding: 0.5rem;
	transition: display 0.2s, opacity 0.2s, width 0.2s;
	top: 2.5rem;
	width: var(--width-settings-menu);
}

fieldset {
	legend {
		font-size: 1.125rem;
		text-indent: -0.25rem;
	}
}

label {
	display: flex;
	flex-direction: column;
}

[data-scope='file-upload'][data-part='root'] {
	display: flex;
	grid-area: 2 / 2 / 3 / 3;
	height: calc(100% - 2.5rem);
	width: calc(100% - var(--width-settings-menu));

	[data-part='label'] {
		background-clip: text;
		background-color: #777;
		color: transparent;
		font-size: 1.75rem;
		font-weight: bold;
		text-shadow: 0 1px 1px rgba(245, 245, 245, 0.5);
		user-select: none;
	}

	[data-part='dropzone'] {
		align-items: center;
		background-color: var(--color-bg);
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-around;
		text-align: center;
		width: 100%;
	}

	[data-part='trigger'] {
		background-color: var(--color-theme);
		/** @note wrapping the gradient in a reusable variable seems to interfere with the updating of the fx color variable. Thus this is left as is until there comes a time where that issue can be resolved. */
		background-image: linear-gradient(
			to bottom,
			var(--color-button-fx) 0%,
			var(--color-button-fx) 1.8rem,
			#0004 1.8rem
		);
		border: none;
		color: var(--color-white);
		border-radius: 0.2rem;
		height: 2rem;

		transition: background-image 0.2s, transform 0.2s ease-in-out;
		user-select: none;
	}

	[data-part='trigger']:hover,
	select:hover {
		--color-button-fx: #fff2 !important;
		cursor: pointer;
	}

	[data-part='trigger']:focus,
	select:focus {
		--color-button-fx: #0004 !important;
		cursor: pointer;
		outline: none;
	}

	[data-part='trigger']:focus {
		transform: scale(1, 0.9) translate(0, 0.2rem);
	}
}
select {
	background-color: var(--color-theme);
	background-image: url('/assets/down-arrow.svg'),
		linear-gradient(
			to bottom,
			var(--color-button-fx) 0%,
			var(--color-button-fx) 1.8rem,
			#0004 1.8rem
		);
	background-position: 90% 50%, 0% 0%;
	background-size: auto 45%, 100% 100%;
	background-repeat: no-repeat;
	border: none;
	color: var(--color-white);
	border-radius: 0.2rem;
	height: 2rem;

	transition: background-image 0.2s, transform 0.2s ease-in-out;
	user-select: none;
}

.row {
	align-items: flex-end;
	display: flex;
	gap: 0.125rem;
}

[data-scope='file-upload'] [data-part='trigger'] {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

select {
	appearance: none;
	padding-left: 0.5rem;
	padding-right: 1.125rem;
	text-transform: uppercase;
}

.notice {
	margin-top: 0.5rem;
	opacity: 0.6;
}

/* @todo these buttons need a little animation when pressed! */
.color-select-group {
	display: flex;

	[data-selected] {
		align-items: center;
		background-color: #fff;
		background-image: conic-gradient(
			#ccc 0deg 90deg,
			#999 90deg 180deg,
			#ccc 180deg 270deg,
			#999 270deg 360deg
		);
		border: none;
		border-radius: 0;
		color: var(--color-white);
		display: inline-flex;
		height: 2rem;
		justify-content: center;
		padding: 0;
		position: relative;
		transition: background-image 0.2s, transform 0.2s ease-in-out;
		user-select: none;
		width: 2rem;
	}

	[data-selected='false']::after,
	[data-selected='false']::after {
		content: '';
	}
	[data-selected='true']::after,
	[data-selected='true']::after {
		content: '✔';
	}

	label[data-selected='false']::after {
		content: '🖉';
	}

	[data-selected]::after {
		align-items: center;
		background-color: var(--color-swatch);
		background-image: linear-gradient(
			to bottom,
			var(--color-button-fx) 0%,
			var(--color-button-fx) 1.8rem,
			#0004 1.8rem
		);
		color: #fff;
		display: flex;
		font-size: 1.25rem;
		font-weight: bold;
		height: 100%;
		justify-content: center;
		left: 0;
		line-height: 80%;
		position: absolute;
		text-shadow: 0 0 0.1rem #000;
		top: 0;
		width: 100%;
	}

	[data-selected][disabled] {
		opacity: 0.5;
	}

	[data-selected][disabled]:hover {
		cursor: not-allowed;
	}

	[data-selected]:not([disabled]):hover::after {
		--color-button-fx: #fff2;
		cursor: pointer;
	}

	[data-selected]:first-child,
	[data-selected]:first-child::after {
		border-top-left-radius: 0.2rem;
		border-bottom-left-radius: 0.2rem;
	}

	[data-selected]:last-child,
	[data-selected]:last-child::after {
		border-bottom-right-radius: 0.2rem;
		border-top-right-radius: 0.2rem;
	}

	/** @todo figure out how to get the pressed animation to work (currently just sliding down due to flexbox alignment..) */
	/* [data-selected]:focus {
		--color-button-fx: #0004 !important;
		transform: scale(1, 0.9) translate(0, 0.2rem);
	} */
}
